<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Snippets</title>
</head>
<body class="bg-zinc-50 leading-relaxed">

    <div class="container max-w-screen-md mx-auto py-10 px-8">        

        <%- include('./partials/navbar') %>

        <div class="grid grid-template-cols-3 my-20">

            <%- include('./partials/articles') %>

        </div>

    </div>
    
</body>
</html>