<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>ClipURL</title>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>

        <div class="container">

            <form class="box" action="./signin" method="POST">

                <h1>ClipURL</h1>
                
                <input type="email" placeholder="Enter Email : " name="email">
                <input type="password" placeholder="Enter Password : " name="password">
                <button type="submit">Sign In</button>
            
            </form>

        </div>

    </body>
</html>
