<!-- Article Card -->

<div class="w-full space-y-2">
    <h2 class="text-2xl font-semibold"><a href="" class="text-zinc-800 hover:text-indigo-600 cursor-pointer">Title Of Something</a></h2>
    <p class="text-zinc-600">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, obcaecati cumque. Illo doloribus eaque, fugit culpa, provident accusamus, molestiae expedita architecto reprehenderit quo placeat quia rerum sed soluta? Veritatis, facilis.</p>
    <p class="text-sm text-zinc-800">12 June 2024 - <a href="" class="text-indigo-600">Anirudh Singh</a></p>
</div>